In [3]:
import csv
import numpy as np
import pandas as pd

In [2]:
with open('/Users/swang/scrapy_alibaba/test_b_domain.csv', 'rt', encoding='utf8') as file:
            reader = csv.reader(file, delimiter=' ', quotechar='|')
            next(reader)
            url_list=[]
            for row in reader:
                for url in row:
                    url_list.append(url)

In [4]:
df = pd.read_csv('/Users/swang/scrapy_alibaba/test_b_domain.csv')

In [5]:
len(url_list[11000000:])

383791

In [5]:
df.head()

,business_supplier,contacts_url,gold_status,gold_years,main_products,supplier_url
0,"Shanghai Lipu Electric Lighting Co., Ltd.",//lpzm.en.alibaba.com/contactinfo.html,Gold Supplier,12,"Floodlight,Street Light,Ballast,Ignitor,LED Fl...",//lpzm.en.alibaba.com/company_profile.html#top...
1,"Quanzhou Orientrise Horticulture Products Co.,...",//growstar.en.alibaba.com/contactinfo.html,Gold Supplier,9,"Grow Tent,Grow Pot,Bubble Bag,Inline Fan,Carbo...",//growstar.en.alibaba.com/company_profile.html...
2,"Sinowell (Shanghai) Co., Ltd.",//sinowell.en.alibaba.com/contactinfo.html,Supplier,11,"Ballast,Reflector,Bulb,Filter,Inline Fan,Refle...",//sinowell.en.alibaba.com/company_profile.html...
3,Changzhou City Wujin Shinder Lighting Applianc...,//czxinde.en.alibaba.com/contactinfo.html,Gold Supplier,13,"Flood Light,street light,Metal Halide lamp,led...",//czxinde.en.alibaba.com/company_profile.html#...
4,"Huizhou HongYi Lighting Co., Ltd.",//hydroponics-products.en.alibaba.com/contacti...,Gold Supplier,7,"Grow Light Reflector,Carbon Filter,Grow Tent,D...",//hydroponics-products.en.alibaba.com/company_...

In [41]:
df2 = df.drop_duplicates(subset='contacts_url', keep='first')

In [42]:
df.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12006 entries, 0 to 12005
Data columns (total 6 columns):
business_supplier    12006 non-null object
contacts_url         12006 non-null object
gold_status          12006 non-null object
gold_years           12006 non-null int64
main_products        12006 non-null object
supplier_url         12006 non-null object
dtypes: int64(1), object(5)
memory usage: 562.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5628 entries, 0 to 12005
Data columns (total 6 columns):
business_supplier    5628 non-null object
contacts_url         5628 non-null object
gold_status          5628 non-null object
gold_years           5628 non-null int64
main_products        5628 non-null object
supplier_url         5628 non-null object
dtypes: int64(1), object(5)
memory usage: 307.8+ KB

In [50]:
df2['contacts_url'] = df2['contacts_url'].apply(lambda x: x.replace('//',''))
df2['supplier_url'] = df2['supplier_url'].apply(lambda x: x.replace('//',''))
df2['main_products'] = df2['main_products'].apply(lambda x: x.replace(',', ', '))

/Users/swang/anaconda3/envs/scrapy/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/swang/anaconda3/envs/scrapy/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/swang/anaconda3/envs/scrapy/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
print(df2.supplier_url[1])

growstar.en.alibaba.com/company_profile.html#top-nav-bar

urls = df2.contacts_url.tolist()

new_urls = []
for url in urls:
    new_urls.append(url.replace('//',''))

new_urls

In [51]:
df2.to_csv(r'/Users/swang/scrapy_alibaba/df2a.csv')

In [52]:
df2.groupby(df2.gold_status).count()

,business_supplier,contacts_url,gold_years,main_products,supplier_url
gold_status,,,,,
Gold Supplier,4481,4481,4481,4481,4481
Supplier,1147,1147,1147,1147,1147

In [54]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5628 entries, 0 to 12005
Data columns (total 6 columns):
business_supplier    5628 non-null object
contacts_url         5628 non-null object
gold_status          5628 non-null object
gold_years           5628 non-null int64
main_products        5628 non-null object
supplier_url         5628 non-null object
dtypes: int64(1), object(5)
memory usage: 467.8+ KB

In [90]:
df3 = df2[df2['gold_years'] > 5]

In [91]:
df3.count()

business_supplier    2488
contacts_url         2488
gold_status          2488
gold_years           2488
main_products        2488
supplier_url         2488
dtype: int64

In [92]:
df4 = df3[df3['gold_status']=='Gold Supplier']

In [93]:
df4.count()

business_supplier    1793
contacts_url         1793
gold_status          1793
gold_years           1793
main_products        1793
supplier_url         1793
dtype: int64

In [94]:
df4.head()

,business_supplier,contacts_url,gold_status,gold_years,main_products,supplier_url
0,"Shanghai Lipu Electric Lighting Co., Ltd.",lpzm.en.alibaba.com/contactinfo.html,Gold Supplier,12,"Floodlight, Street Light, Ballast, Ignitor, LE...",lpzm.en.alibaba.com/company_profile.html#top-n...
1,"Quanzhou Orientrise Horticulture Products Co.,...",growstar.en.alibaba.com/contactinfo.html,Gold Supplier,9,"Grow Tent, Grow Pot, Bubble Bag, Inline Fan, C...",growstar.en.alibaba.com/company_profile.html#t...
3,Changzhou City Wujin Shinder Lighting Applianc...,czxinde.en.alibaba.com/contactinfo.html,Gold Supplier,13,"Flood Light, street light, Metal Halide lamp, ...",czxinde.en.alibaba.com/company_profile.html#to...
4,"Huizhou HongYi Lighting Co., Ltd.",hydroponics-products.en.alibaba.com/contactinf...,Gold Supplier,7,"Grow Light Reflector, Carbon Filter, Grow Tent...",hydroponics-products.en.alibaba.com/company_pr...
5,"Lanxi Bistar Lighting Co., Ltd.",bistar.en.alibaba.com/contactinfo.html,Gold Supplier,13,"Lamp, Electronic Ballast",bistar.en.alibaba.com/company_profile.html#top...